.projects {
    width: 33%;
    padding: 15px;
    align-items: center;
}

.project-title {
    text-align: center;
}

.project-img {
    opacity: 0.85;
    height: 100%;
}

.project-img:hover{
    opacity: 1;
  }

.project-socials {
    display: none;
    font-size: 45px;
    color: black;
  }
  
.project-img:hover + .project-socials {
    display: block;
}